:root {
	--bg-body: linear-gradient(to right, #ea4224 0%, #edc24f 50%, #ea4224 100%);
	--bg-chat: linear-gradient(
	  #f00202 0%,
	  #bd0404 10%,
	  #7d0404 50%,
	  #4a0202 100%
	);
  }
  
.all{
	display: flex;
	align-items: center;
	justify-content: center;

}

  body,
  html {
	margin: 0;
	padding: 0;
	background: var(--bg-body);
	height: 100%;
	overflow: hidden;
  }

.userInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-color: #edeaea;
}


.userInfo .img-div{
margin-top: 12rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	background-color: #e37908d2;
	width: 60%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 0 0 10rgb(220, 199, 218)(0, 0, 0, 0.5);
}

.userInfo .btns{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	background-color: #e37908d2;
	width: 60%;
	box-shadow: 0 0 10rgb(220, 199, 218)(0, 0, 0, 0.5);
}

.userInfo .ranks{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	background-color: #e37908d2;
	width: 60%;
	box-shadow: 0 0 10 rgb(220, 199, 218)(0, 0, 0, 0.5);
}

.userInfo img {

  width: 100px;
  height: 100px;
  margin: 2rem;
  border-radius: 50%;
  border: 2px solid #161717;
}


.userInfo h2 {
	margin: 2rem;
  color: #161717;
  font-size: 1.5rem;

}

.userInfo button {
  border: none;
  border-radius: 5px;
  background-color: #171818;
  color: #fff;
  font-size: 1rem;
  padding: 0.7rem 1rem;
  margin: 0 1rem;
  width: 30%;
  transition: 1.1s;
  position: relative;
 
}

.userInfo button:hover {
  background-color: #fff;
  color:#171818;
  cursor: pointer;
  font-size: 1.1rem;

}

.userInfo button:active {
  background-color: #b79e1e;
  color: #fff;
 transform: scale(0.98); 
}

/* pseudo class */
.dialog {
position: absolute;
background-color: #fff;
border: 1px solid #ccc;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
padding: 10px;
}

.dialog input{
	padding: 0.5rem 1.3rem;
border: none;
}

.dialog button{
	padding: 0.5rem 1.3rem;
	color: #eceae1;
	background-color: #44a9a9;
	border: none;
	margin: 2px;
}

.matchHistory {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  width: 100%;
  box-sizing: border-box;
  background-color: #edeaea;

text-align: center;
}

.matchHistory h2{
	padding: 0 10rem;
	background-color: #e37908d2;
	width: 60%;
	margin-bottom: 0;
	padding: 1rem;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}


.matchHistory table{
	padding: 2rem;
	background-color: #e37908d2;
	width: 60%;
	box-shadow: 0 0 10 rgb(220, 199, 218)(0, 0, 0, 0.5);
	color: #151515;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: 4rem;
	font-family: arial, sans-serif;

}

.matchHistory table td, th {
	border: 1px solid #100f0f;
	text-align: left;
	padding: 8px;
  }