.PopHeader {
	font-weight: bold;
	padding: 10px;
	background-color: #007bff;
	color: #fff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.PopBody {
	padding: 10px;
	background-color: #ffffff;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.button-container {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
  
.create-button, .cancel-button {
	width: 100%;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
  
.create-button {
	background-color: #007bff;
	color: #ffffff;
	margin-right: 10px;
}
  
.cancel-button {
	background-color: #f1f1f1;
	color: #333333;
}

.join-button {
	width: 80px;
	height: 40px;
	background-color: #007bff;
	color: #ffffff;
	border-radius: 5px;
	font-size: 15px;
	font-weight: bold;
}
  
.create-button:hover, .cancel-button:hover {
	opacity: 0.8;
}

.name-input input {
	width: 100%;
	border-radius: 8px;
	color: #333333;
	min-width: 500px;
}

.password-input input {
	margin-top: 10px;
	width: 100%;
	min-width: 500px;
	border-radius: 8px;
}

.error {
	color: red;
}

.joinable-chat {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	border-bottom: 1px solid #007bff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.room {
	display: flex;
	flex-direction: column;
}

.room-title {
	font-weight: bold;
}

.error-message {
	color: red;
}

.interact-container {
	display: flex;
	width: 20vw;
	margin-bottom: 10px;
}

.owner-buttons,
.admin-buttons,
.regular-buttons {
	display: flex;
	justify-content: center;
	flex: 1;
}

.owner-buttons button,
.admin-buttons button,
.regular-buttons button {
	padding: 5px;
	border-radius: 5px;
	flex: 1;
	margin-left: 5px;
	color: #ffffff;
}

.owner-buttons button:hover,
.admin-buttons button:hover,
.regular-buttons button:hover {
	opacity: 0.8;
	font-weight: bold;
}

.red-back {
	background-color: red;
}

.green-back {
	background-color: rgb(38, 207, 38);
}

.blue-back {
	background-color: #007bff;
}

.user-container {
	display: flex;
	align-items: center;
}