

:root {
	--body-color:#082e48;
    --border-color: #007acc;
    --input-color: #1a4057;
	--btn-border-color: #adabab;
	--color: #fff;
}

body{
	background-color: var(--body-color);
	min-height: 100%;
}

.container{
	width: 100%;
}

#form 
{
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 500px;
	padding: 40px;
}

.form-item{
	padding: 10px;
}

input[type='text'], 
input[type='password']
{
	border: 1px solid var(--border-color);
	border-radius: 2px;
	font-size: 16px;
	padding: 10px;
	width: 90%;
	background-color: var(--input-color);
}

::placeholder{
	color: var(--color);
	opacity: 0.7;
}

.button
{
	border: 1px solid var(--btn-border-color);
	border-radius: 2px;
	font-size: 16px;
	padding: 10px;
	width: 95%;
	background-color: var(--border-color);
	color: var(--color);
	opacity: 0.7;
	text-transform: uppercase;
}

.button:hover 
{
  opacity: 0.5;
}

.form-item a
{
	color: var(--color);
}

.form-item p{
	color: var(--color);
}

::placeholder {
	color: #000000;
  }
